<!DOCTYPE html>
<head>
<title>Postage Calculator - Page 2</title>
<link rel="stylesheet" type="text/css" href="postal.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body id="main">
<div class="border">
    <h1 class="center">Postage Rate:</h1>
    <div class="input">
        Item Weight (oz): <%= weight %><br><br>
        Type of Mail: <%= mail %><br><br>
        Total: <%= total %>
    </div>
</div>
</body>
</html>